/*General*/

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: 'Arial';
}

/*Pink Nav Bar*/

.top_nav {
  background-color: #ffb4b0;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 1em;
  margin: 1.5em .2em 1em 0;
}

/*Blue Nav Bar*/

.left_bar {
  background-color: #4dd7fa;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 1em;
  margin-right: 1em;
  width: 22%;
  display: inline;
  float: left;
}

/*Blue Bar Elements*/

ul {
  list-style-type: none;
}

.check_left {
  display: inline;
  float: left;
  padding-left: 0;
}

.check_right {
  display: inline;
  float: left;
  padding-left: 13px;
}

.filter {
  text-align: center;
  clear: both;
}

/*Yellow Box*/

.yellow_block {
  background-color: #fefac0;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 0 1em 1.2em 1.5em;
  width: 76%;
  display: inline;
  float: left;
}

/*Yellow Bow Elements*/

.yellow_block h2 {
  color: #785616;
  font-weight: normal;
}
.yellow_block p {
  color: black;
  font-size: .9em;
  line-height: .4em;
}